<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Define a global packages folder for your repository. -->
	<!-- This is where installed packages will be stored locally. -->
	<config>
		<add key="globalPackagesFolder" value=".packages" />
	</config>

	<!-- Define my package sources, nuget.org and contoso.com. -->
	<!-- `clear` ensures no additional sources are inherited from another config file. -->
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<disabledPackageSources>
		<clear />
	</disabledPackageSources>

	<!-- Define mappings by adding package ID patterns beneath the target source. -->
	<!-- Hosting.* packages will be restored from hosting, everything else from nuget.org. -->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>